@import url(flex.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-shade );
    scroll-behavior: smooth;
}

h1,
h2{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h3,
h4,
h5,
p,
a,
span,
button {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* font style */

h1 {
    font-size: 68px;
    color: var(--white);
}

p {
   font-size: 16px;
   color: var(--white);
}

:root {
    --pink: #C24599;
    --blue: #2482C5;
    --red: #EE2447;
    --white: #ffffff;
    --bg-shade: #010310;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    background: linear-gradient(to right, var(--pink), var(--blue));
    color: var(--white);
    padding: 12px 42px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn__primary {
    padding: 12px 42px;
    background: none;
    border-radius: 50px;
    border: 2px solid #C24599;
    color: var(--white);
    cursor: pointer;
}

.top-nav {
    position: fixed;
    width: 100%;
    background: rgba(217, 217, 217, 0.10);
    backdrop-filter: blur(12.5px);
    color: var(--white);
    padding: 5px 0;
    z-index: 500;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    font-family: 'Roboto';
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--pink);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
/* hero section */
.hero--section {
    background: url(./assets/img/bg.png);
    background-size: cover;
    background-position: center;
    height: 620px;
}

.hero {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero p {
    font-size: 48px;
}
.hero__text {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.hero__text p:last-child {
    background: linear-gradient(to right, var(--pink), var(--blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header--title {
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.header--title  span{
    color: var(--pink);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header--title h2{
    color: var(--white);
    text-align: center;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.second__cards{
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second__card h2{
    color: var(--pink);
    text-align: center;
    font-size: 84px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.second__card span{
    color: var(--white);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* third page style */

.third {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.third__left--card {
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 25px;
    margin-bottom: 50px;
}

.card__circle--c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 2px solid var(--white);
    border-radius: 50%;
}

.card__content p{
    padding: 12px 0;
}

.third__right > img {
    width: 100%;
}

/* fourth style  */

.fourth {
    width: 100%;
    position: relative;
}
.fourth__list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img__card > img{
    width: 100%;
}

/* fifth style */

.fifth {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fifth__card {
    color: var(--pink);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    text-align: center;
}


.fifth__card--img > img {
    width: 100%;
}

/* packages style */

.packages {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.package {
    font-family: 'Roboto';
    color: var(--white);
    padding: 25px 62px;
    border: 2px solid;
    border-radius: 30.33px;
    border: 2px solid var(--blue);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.package--primary {
    border: none;
    background: linear-gradient(to right, var(--pink), var(--blue));
}

.package--primary  button {
    border: 1px solid var(--white);
}

.package__list > ul{
    line-height: 25px;
}

/* contact style */

.contant--section {
    margin-bottom: 50px;
}

.contact {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact__card {
    font-family: 'Roboto';
    color: var(--white);
    padding: 25px 62px;
    border: 2px solid;
    border-radius: 30.33px;
    border: 2px solid var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.contact__card--text p{
    padding-bottom: 10px;
}